<html>
<head>
  <title>EmailPie - A Simple API for Crazy Simple Email Validation</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="wrapper">

  <div class="header">
    <img src="{{ url_for('static', filename='img/email.png') }}" alt="">
    <h2 class="fancy">Email Pie</h2>
  </div>

  <p>Email Pie is a wonderful little JSON API that gives you a simple way to validate email addresses. We'll let you know if that email address is legit or not.</p>

  <br />
  <br />

  <div class="well">
    <h3>What's it do?</h3>
    <ul>
      <li>checks email format</li>
      <li>checks mx records</li>
      <li>catches obvious mispellings</li>
      <li>returns JSON</li>
      <li>BSD licensed</li>
      <li>Python, Flask &amp; gevent</li>
    </ul>
  </div>

  <h2>How?</h2>

  <p>Well, first we make sure the email is formatted correctly. Catching things like invalid characters or no @ signs. Then, we make sure that the domain is configured to collect email. Finally, we check for common misspellings.</p>


  <h2>How much?</h2>

  <p>It's free for now, but we limit API calls to 1800/hour. Or, <a href="https://github.com/bryanhelmig/emailpie">run your own</a>.</p>


  <h2>Examples</h2>

  <table class="table table-bordered table-striped small">
    <thead>
      <tr>
        <td>Email</td>
        <td>Problem?</td>
        <td>Link</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>some.guy@gmail.com</td>
        <td>none!</td>
        <td><a href="/v1/check?email=some.guy@gmail.com">json</a></td>
      </tr>
      <tr>
        <td>i.am@invalid.com@for.sure</td>
        <td>invalid formatting</td>
        <td><a href="/v1/check?email=i.am@invalid.com@for.sure">json</a></td>
      </tr>
      <tr>
        <td>another.guy@gnail.com</td>
        <td>mispelled gmail</td>
        <td><a href="/v1/check?email=some.guy@gnail.com">json</a></td>
      </tr>
      <tr>
        <td>fella5@adsferarytk.com</td>
        <td>bogus domain</td>
        <td><a href="/v1/check?email=fella5@adsferarytk.com">json</a></td>
      </tr>
    </tbody>
  </table>


  <h2>Python</h2>
  <script src="https://gist.github.com/2143961.js?file=python.py"></script>


  <h2>Ruby</h2>
  <script src="https://gist.github.com/2143961.js?file=ruby.rb"></script>


  <h2>PHP</h2>
  <script src="https://gist.github.com/2144861.js?file=php.php"></script>


  <h2>Sample Responses</h2>
  <script src="https://gist.github.com/2143961.js?file=examples.js"></script>

  <br/> 
  <br/> 
  <br/>
  <hr />
  <p><small>A <a href="http://bryanhelmig.com/">Bryan Helmig</a> production. Mostly done at <a href="http://hackcomo.com/">HackCoMo</a>. Get <a href="https://github.com/bryanhelmig/emailpie">teh codez</a>.</small></p> 

</div>

<a href="https://github.com/bryanhelmig/emailpie"><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>

</body>
</html>
