@import "mixins";
@import "reset";

.fancy {
    font-family: 'Coming Soon', cursive;
}

body {
  background:transparent url('../img/square_bg.png') repeat;
  color:#555;
}

.wrapper {
  max-width:500px;
  margin:0 auto;
  padding:30px 15px;

  .header {
    text-align:center;
    padding-bottom:15px;

    h2 {
      font-size:32px;
      margin-top:0;
    }
  }

  .gist {
    font-size:12px;
  }

  h2 {
    margin-top:75px;
  }

  h2, h3, h4 {
    text-align:center;
    text-shadow:1px 1px white;
    @extend .fancy;
  }

  p {
    text-align:center;
  }

  .well {
    background:#f3f3f3;
    padding:24px 48px 12px;
    border:1px solid #ccc;
    @include border-radius(6px);
    margin:0 auto;
    width:230px;
  }
}